.intro {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000;
}

.greeting {
    display: flex;
    align-items: first baseline;
    padding-top: 3px;
}

.profile-picture {
    width: 50px;
}

.rating {
    display: flex;
    align-items: center;
    padding-top: 3px;
}

.star-rating {
    width: 20px;
}

.greeting p, .rating p {
    padding-left: 5px;
}


/* Wallet */
.wallet {
    background-color: #002B5C;
    padding: 1.5rem;
    /* max-width: 600px; */
    margin: 2rem 0;
    border-radius: 20px;
    color: #ffffff;
}

.wallet h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

.texts {
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 1rem 0;
}

.text img {
    width: 20px;
}

.texts .text:nth-child(1) {
    font-weight: 500;
}

.texts .text:nth-child(2) {
    font-weight: 600;
}

.balance {
    font-weight: 700;
    font-size: 2.18rem;
    padding: 1rem 0;
}

.history {
    padding: 0.5rem 0 0.5rem 0;
    gap: 10px;
    font-weight: 600;
}

.history img {
    width: 20px;
}


/* Search */
.search-bar {
    background-color: #FF6F00;
    padding: 0.8rem 1.2rem;
    border-radius: 20px;
    display: flex;
    justify-content: end;
}

.search-bar img {
    width: 20px;
}


/* Workers List */
.workers-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5rem;
    max-width: 800px;
    margin: 10px auto 5rem auto;
} 

.worker-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row:nth-child(1) {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.row h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.row button {
    background-color: #FF6F00;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}