.opening-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #002B5C;
    height: 80vh;
}

.opening-screen img {
    width: 10rem;
}

.opening-screen p {
    font-size: 1.25rem;
    font-weight: 500;
}