.nav-list {
    background-color: #002B5C;
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: space-around;
    color: #667085;
    border-radius: 20px 20px 0 0;
    list-style-type: none;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.nav-list img {
    width: 24px;
}