.content {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    color: #002B5C;
}

.content .img {
    width: 22rem;
}

.content h4 {
    font-size: 0.75rem;
    font-weight: 600;
}

.content h3 {
    font-size: 1rem;
    font-weight: 600;
}