.onboarding-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
}

.top {
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top img {
    width: 30px;
    cursor: pointer;
}

.top p {
    font-size: 1rem;
    font-weight: 600;
    color: #E86602;
    cursor: pointer;
}

.onboarding-img {
    margin: 2rem 0;
}

.text-content {
    margin-bottom: 3rem;
}

.text-content h3 {
    font-size: 1.5rem;
    color: #002B5C;
    padding: 5px 0;
}

.text-content h4 {
    font-size: 1rem;
    color: #333333;
    line-height: 18px;
    font-weight: 600;
    padding: 2px 0;

}

.text-content p {
    font-size: 0.875rem;
    color: #545454;
    line-height: 16px;
}

.button {
    font-size: 1.5rem;
    padding: 0.5rem;
}