*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #F5F5F5;
}

.button {
  width: 100%;
  background: linear-gradient(to right, #ffb347, #ff5722);
  text-align: center; 
}